@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300..700;1,300..700&display=swap');
*{
  padding : 0;
  margin : 0;
  box-sizing: border-box;
  font-family: 'Merriweather', sans-serif;
}

body{
  min-height: 100vh;
  background-color: rgb(255, 255, 255);
}

a{
  text-decoration: none;
  color : inherit;
}
hr{
  border: none;
  height: 1px;
  background-color: #a9a9a9;
}
.app-content
{
  display: flex;
}
.flex-col{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.cursor{
  cursor: pointer;
}